html
	body
		h1.app-name enruta
		.scrollable
			h1.scrollable-header.app-name enruta
			.scrollable-content
				.list-group(ui-turn-off='uiSidebarLeft')
					a.list-group-item(href='#/')
						| Inicio 
						i.fa.fa-chevron-right.pull-right
					a.list-group-item(href='/')
						| Ordenes recientes 
						i.fa.fa-chevron-right.pull-right
					a.list-group-item(href='/')
						| Salir  
						i.fa.fa-chevron-right.pull-right
